
PORT=8080

CORS_ORIGINS=*

CYBERSHIELD_DB_PATH=data/cybershield_store.db

GMAIL_USER=
GMAIL_APP_PASSWORD=

GCP_PROJECT_ID=cybershield-mail-prod
GCP_REGION=us-central1
FIREBASE_PROJECT_ID=cybershield-mail-prod
